body{
    margin: 0;
}
.header{
    margin: 50px auto;
    width: 1280px;
    height: 189px;
}
.text{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.logo-placeholder{
    margin: 0 0 44px 0;
}
.logo{
    font-size: 5em;
    color: black;
    text-decoration: none;
}

.header-menu{}
.logo-ending{
    color: #4BCAFF;
}
.menu{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header-menu .menu{
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.item{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-menu .item{
    background: #35444F;
    height: 70px;
    flex-grow: 1;
}
.menu-link{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 0;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header-menu .menu-link:hover {
    background: #222F3A;
}

.main-page{
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.side-menu{
    border: 1px solid #35444F;
    height: 400px;
    width: 345px;
}
.side-menu .menu{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side-menu .item{
    height: 80px;
}

.side-menu .menu-link{
    justify-content: left;
    color: #485863;
    text-indent: 45px;
    font-size: 30px;
}
.side-menu .menu-link:hover{
    text-indent: 70px;
    color: #000000;
    background-color: #DBDBDB;
}
.content{
    width:885px;
}
.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    width: 100%;
    border: 1px solid #35444F;
    margin: 0 0 35px 0;
}
.article{
    margin: 15px 40px 15px 30px;
    text-align: justify;
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    background-color: #B4B7BA;
    margin: 30px auto;
}
.footer .menu{
    justify-content: space-around;
    align-items: center;
    width: 850px;
    margin: 0 45px;
}
.footer .item{
    height: 70px;
    width: auto;
}

.footer .menu-link{
    color: #0C1927;
    font-size: 28px;
}
.footer .menu-link:hover{
    text-decoration: underline;
    color: #3181A6;
}
.copyright{
    margin: 0 35px;
    font-size: 24px;
    align-self: center;
}
