html {
    background: url(../img/background.png) no-repeat black;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: white;
}

body, p {
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.5) inherit;
}

a {
    text-decoration: none;
    color: white;
    font-size: .65rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 49px auto 44px auto;
    width: 77%;
}

.logo-placeholder {
    display: flex;
    width: 15%;
    background: url("../img/logo.png") no-repeat;
    transition: all 0.4s;
}

.logo-placeholder:hover {
    color: #F26522;
    background: url("../img/logo-orange.png") no-repeat;
}

.logo-image {
    margin: 0 15px 0 0;
    width: 46px;
    height: 44px;
}

.logo-header {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-subheader {
    font-size: .65rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-bottom: 54px;
}

.card > a {
    text-align: center;
}

.card:hover > a {
    color: #F26522;
}

.card:hover .details {
    transform: translateY(-100%);
    transition: all 0.5s;
}

.card__image {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-image: repeating-linear-gradient(0deg, black, white) 20;
    box-shadow: 1px 20px 20px 0 black;
    margin-bottom: 22px;
    overflow: hidden;
    position: relative;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 63px;
    background: #F26522;
    position: absolute;
    top: 100%
}

.details a {
    margin-right: 18px;
    font-size: .55rem;
}

.price {
    margin-left: 22px;
}

.price p:first-child {
    font-size: .4rem;
}

.tour {
    width: 100%;
}

.copyright {
    margin-bottom: 31px;
    text-align: center;
    font-size: .6rem;
}