@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 1em;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.form{}
.form-item{
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    margin: 20px 0;
}
.form-item label{
    display: inline-block;
    width: 190px;
}
.text{
    padding: 11px 20px;
    box-sizing: border-box;
}
.buttons{}
.btn{
    background-color: white;
    border: 2px solid #946FD3;
    border-radius: 50px;
    width: 206px;
    padding: 20px 0;
    color: #946FD3;
    font-weight: 700;
    font-size: .8rem;
    transition: all 0.4s;
    margin: 70px 30px 0 0;

}
.btn:active{
    color: white;
    background-color: #946FD3;
    border-color: white;
}