html {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__search {
    flex-grow: 6;

    .search {
      margin-left: 100px;
      padding: 15px;
      padding-left: 30px;
      width: 400px;
      border: 2px solid #323232;
      border-radius: 5px;
      background-image: url("../img/Vector.png");
      background-repeat: no-repeat;
      background-position: 5px center;

    }
  }

  .header__login {
    background-color: #EF781A;
    box-shadow: none;
    border-style: none;
  }

  .header__basket {
    background: #00D008;
    border-style: none;
    border-radius: 5px;
  }
}

.radio {
  input {
    display: none;
  }

  label {
    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid red;
    }
  }

  input:checked + label::after {
    border-color: green;
    background: #072b07;
  }
}