body{
    margin: 0px;
}
.block{
    display: flex;
    justify-content: center;
}
.block-header{
    height: 263px;
    background-color: #2D7053;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    width: 334px;
    height: 142px;
    padding: 0 20px;
}
.logo{
    border-radius: 50%;
    background-color: white;
}
.logo-header{
    height: 142px;
    width: 142px;
}
.text{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 24px;
}
.heading{
    width: 134px;
    font-size: 30px;
}
.menu-lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 69px;
}
.line{
    background-color: white;
    width: 85px;
    height: 13px;
    border-radius: 5px;
}
.block-slider{
    background: url(download.png) no-repeat #4F4434;
    background-size: 100%;
    background-position: center;
    height: 466px;
}
.slider{
    display: flex;
    justify-content: center;
    width: 70%;
}
.slide{
    display: flex;
    flex-direction: column-reverse;
    width: 742px;
    height: 444px;
    background-color: rgba(0, 0, 0, 0.4);
}
.button{
    background-color: #CB9223;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    width: 342px;
    height: 75px;
    margin: 0 0 47px;
    align-self: center;
}
.block-content{
    background-color: white;
}
.content{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.userpic{
    width: 247px;
    height: 247px;
    border-radius: 50%;
}
.article-heading{
    font-size: 36px;
    margin: 29px 0;
}
.article-content{}
.article{}
.items{
    list-style-type: '- ';
    margin: 0 0 2em 0;
}
.item{}
.block-footer{
    height: 155px;
    background-color: #888888;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.logo-footer{
    width: 97px;
    height: 97px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
    height: 75%;
}
.link {
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}