@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

:root {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.banner {
    background-image: url("../image/banner-background.png");
    background-size: cover;
    height: 600px;
    color: white;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.banner__info {
}

.banner__content {
    width: 65%;
    padding-top: 100px;
    animation: animated-banner 2s linear 1;
}

.banner__header {
    font-weight: 900;
    font-size: 2.4rem;
    margin-bottom: 30px;
    line-height: 56px;
}

.banner__subheader {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.banner__center {
    background: #F0E5FF;
}

.banner__center-subheader {
}

.banner__center-header {
    font-weight: 900;
    font-size: 1.9rem;
    margin-bottom: 30px;
    line-height: 56px;
}

.banner__center-img {
    position: relative;
    left: -10%;
    animation: banner__center-image1 2s linear infinite;
}
.banner__center-img-2 {
    position: relative;
    left: -10%;
    animation: banner__center-image2 2s linear infinite;
}

@keyframes animated-banner {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0) rotate(360deg);
    }
}

@-webkit-keyframes animated-banner {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0) rotate(360deg);
    }
}

@keyframes banner__center-image1 {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

@-webkit-keyframes banner__center-image1 {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

@keyframes banner__center-image2 {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes banner__center-image2 {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 800px) {
    .banner {
        display: none;
    }
}