body{
    margin: 0;
}
.contact-info{}
.container{
    background-color: #F0F2F5;
    border: 1px solid black;
}
.container p{
    margin: 0;
}
.button{
    border-radius: 50px;
    background-color: #946FD3;
}