@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

html {
    background-color: #3a4965;
    font-family: 'Arimo', sans-serif;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    font-size: 20px;
}

body, p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 69px;
    margin: 24px 30px 32px 22px;
    background-color: #fafafa;
}

.container__header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.subheader {
    font-size: 0.7rem;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .65rem;
}

.header__plan {
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
    color: white;
    font-size: .9rem;
}

.header__plan-standard {
    background-color: #89c331;
}

.header__plan-ultimate {
    background-color: #f04a56;
}

.header__plan-premium {
    background-color: #20807c;
}

.plan__price {
    grid-row-start: 2;
    grid-row-end: 3;
}

.dollar {
    font-size: 2.5rem;
    font-weight: bold;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .7rem;
}

.cent {
    font-size: 0.9rem;
    font-weight: bold;
}

.plan__item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.plan__item-3 {
    grid-column-start: 2;
    grid-column-end: 5;
}
.plan__footer{}

.button {
    width: 62%;
    padding: 17px 0;
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #484848;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #404040;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}