div {
    color:blue;
}
p{
    color:green;
}
.black{
    background-color: black;
}
.creating{
    min-width: 500px;
    max-width: 800px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
