html{
    font-size: 20px;
}
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto
}
.header{
    background: url(./img/Rectangle.png);
    background-size: cover;
    height: 100vh;
    padding-top: 1rem;
}
.header__navigation{
    position: relative;
;
    height: 100px;
}
.navigation__logo{
    position: absolute;
    left: 0;
    top: 0;
}
.navigation__logo-menu{
    position: absolute;
    right: 0;
    top: 0;
}
.header__info{
    text-align: center;
    padding-top: 5rem;
    width: 49%;
    margin: 0 auto;
    box-sizing: border-box;
    text-transform: uppercase;
}
.header__info-title{
    font-size: 3.2rem;
}
.header__info-subtitle{
    font-size: 0.9rem;
}
.header__info-title, .header__info-subtitle{
    color: white;
}