html{
    font-size: 20px;
}
body, ul, li{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.header{}
.header__menu{
    margin: 0 auto;
    width: 45%;
    overflow: hidden;
    box-shadow: 0 1px 5px black;
}
.header__menu-item{
    text-transform: uppercase;
    float: left;
    list-style: none;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
}
.header__menu-item a{
    display: inline-block;
    text-decoration: none;
    color: #16A085;
    font-weight: 700;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
}