.block{
    width: 100px;
    height: 100px;
    background-color: teal;
}
.block:hover{
    background-color: tomato;
}
.block:hover:before{
    content: '';
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}